/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../vars-fantasy.css';

.intl-phone-input {
    display: inline-block;

    &__input {
        &.input .input__addons_left + .input__control {
            padding-left: 6px;
        }
    }

    &__select {
        .flag-icon {
            display: inline-block;
            vertical-align: baseline;
            margin-top: 2px;
            margin-left: 2px;
            box-shadow: 0 0 2px 0 rgba(10, 30, 50, .25);
        }

        /* Override select button border */
        &.select {
            margin-bottom: -1px;

            .select-button {
                border-bottom-color: transparent;
                box-shadow: none;
            }
        }
    }

    &__select-item-code {
        opacity: var(--opacity-minor);
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-normal);
    }
}

.select__popup {
    .flag-icon {
        display: inline-block;
        vertical-align: baseline;
        position: relative;
        top: 1px;
        margin-right: 12px;
        box-shadow: 0 0 2px 0 rgba(10, 30, 50, .25);
    }
}
